dash
dash-bootstrap-components
pymongo
pandas
plotly
yfinance
requests
beautifulsoup4
selenium
tweepy
python-dotenv
openai
schedule
protobuf>=6.33.5 # not directly required, pinned by Snyk to avoid a vulnerability