dash
dash-bootstrap-components
pymongo
pandas
plotly
yfinance
requests
beautifulsoup4
selenium
tweepy
python-dotenv
openai
schedule
zipp>=3.19.1 # not directly required, pinned by Snyk to avoid a vulnerability